<div class="main-page-container">
  <mat-card>
    <mat-card-header>
      <h1>Welcome to the Friends demo App!</h1>
    </mat-card-header>
    <mat-card-content>
      <p>
        This app demonstrate how to create a new angular app from scratch. The
        main requirement is: Create an input form using Material to insert
        multiple “friends” with the following fields:
      </p>
      <ul>
        <li>Name</li>
        <li>Age</li>
        <li>Weight</li>
        <li>Friends</li>
      </ul>
      <p>Acceptance criteria (ACs) are enumerated below:</p>
      <ul>
        <li>Use the current version of Angular</li>
        <li>Be production ready</li>
        <li>Use Angular Material</li>
        <li>Use NgRx for state management</li>
        <li>Display results using D3.Js library</li>
        <li>Make your components stateless</li>
        <li>Use of git and organization of commits</li>
        <li>
          Provide unit test coverage (testing actions, reducers, selectors and
          pipes)
        </li>
        <li>The code should be stable, maintainable, and bug free.</li>
      </ul>
      <p>
        Due to time constraints a minimum viable product (MVP) version that
        meets the requirements was created. It showcases different technologies
        and features of the Angular framework. The following are pending tasks
        that could help further increase the quality of this demo:
      </p>
      <ul>
        <li>
          <b>Security:</b>&nbsp;Secure the route access using guards and
          integrate with an identity system or security code from the back-end
          to control authentication and authorization.
        </li>
        <li>
          <b>Localization:</b>&nbsp;Provide translation of the UI to different
          languages/region. Support international formats where required.
        </li>
        <li>
          <b>Responsiveness:</b>&nbsp;The responsiveness of the app needs more
          work
        </li>
        <li>
          <b>Test coverage:</b>&nbsp;Since this is a demo app only basic
          coverage is provided. In a truly production ready a higher level is
          desired Different automated tests to implement can be: unit,
          component, DOM and e2E tests. Performance testing is also advisable.
        </li>
        <li>
          <b>Improvements to the graphics:</b>&nbsp;Simple bar charts are
          provided. More complex one would be required for an actual app. The
          graphics would need to be responsive and interactive whenever
          possible, updating them by transitions instead of by refreshes.
        </li>
        <li>
          <b>Additional code refactor:</b>&nbsp;Improve the existing code by
          creating new components to extract reusable code, reduce the size of
          the larger classes, and moving common files to shared
          folders/components. Style files could use some cleaning to reuse
          common styles used in different components.
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
