:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

.label {
  display: inline;
}

.value {
  display: inline-block;
  margin-left: 6px;
}

mat-card-header div {
  margin-top: -5px;
}

