<form (ngSubmit)="onSubmit()" [formGroup]="editFriendForm">
  <mat-card class="right-card">
    <mat-card-header class="card-header">
      <mat-card-title>
        <h2>{{ tittle | async }}</h2>
      </mat-card-title>
      <button
              (click)="closeBtnClicked()"
              aria-label="Close"
              color="primary"
              mat-icon-button
              type="button">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-header>

    <mat-card-content>
      <div class="row row-large">
        <div class="col">
          <mat-form-field class="full-width">
            <input formControlName="name" matInput placeholder="Name"/>
            <mat-error
                    *ngIf="editFriendForm.controls['name'].hasError('required')">
              First name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row row-small">
        <div class="col">
          <mat-form-field class="full-width">
            <input formControlName="age" matInput placeholder="Age"/>
            <mat-error
                    *ngIf="editFriendForm.controls['age'].hasError('required')">
              Age is <strong>required</strong>
            </mat-error>
            <mat-error
                    *ngIf="
                editFriendForm.controls['age'].hasError('min') ||
                editFriendForm.controls['age'].hasError('max')
              ">
              Age should be between {{ MIN_AGE }} and {{ MAX_AGE }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row row-small row-last">
        <div class="col">
          <mat-form-field class="full-width">
            <input formControlName="weight" matInput placeholder="Weight"/>
            <mat-error
                    *ngIf="editFriendForm.controls['weight'].hasError('required')">
              Weight name is <strong>required</strong>
            </mat-error>
            <mat-error
                    *ngIf="
                editFriendForm.controls['age'].hasError('min') ||
                editFriendForm.controls['age'].hasError('max')
              ">
              Weight should be between {{ MIN_WEIGHT }} and {{ MAX_WEIGHT }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <h3>Friends (Current/Available)</h3>
      <div class="lists-container">
        <div class="list-column-container">
          <mat-list class="list-wrapper">
            <ng-container *ngIf="children$ | async as children">
              <ng-container *ngFor="let child of children">
                <mat-list-item>
                  <div class="list-item">{{ child.name }}</div>
                  <button
                          (click)="leftRemoveChildBtnClicked(child)"
                          mat-icon-button>
                    <mat-icon class="mat-24">arrow_forward</mat-icon>
                  </button>
                </mat-list-item>
                <mat-divider></mat-divider>
              </ng-container>
              <mat-list-item *ngIf="!((children?.length ?? 0) > 0)">
                <div class="list-item">List is empty</div>
              </mat-list-item>
            </ng-container>
            <mat-list-item
                    *ngIf="(isLeftListSpinnerVisible$ | async) === true"
                    class="list-control-centering-container">
              <mat-spinner diameter="20"></mat-spinner>
            </mat-list-item>
          </mat-list>
        </div>

        <div class="spacer-div"></div>

        <div class="list-column-container">
          <mat-list class="list-wrapper">
            <ng-container *ngIf="availableFriends$ | async as friends">
              <ng-container *ngFor="let friend of friends">
                <mat-list-item>
                  <div class="list-item">{{ friend.name }}</div>
                  <button
                          (click)="rightDeleteChildBtnClicked(friend)"
                          mat-icon-button>
                    <mat-icon class="mat-24">arrow_back</mat-icon>
                  </button>
                </mat-list-item>
                <mat-divider></mat-divider>
              </ng-container>
              <mat-list-item *ngIf="!((friends?.length ?? 0) > 0)">
                <div class="list-item">List is empty</div>
              </mat-list-item>
            </ng-container>
            <mat-list-item
                    *ngIf="(isRightListSpinnerVisible$ | async) === true"
                    class="list-control-centering-container">
              <mat-spinner diameter="20"></mat-spinner>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="button-spinner-container">
        <mat-spinner
                *ngIf="(isFormSpinnerVisible$ | async) === true; else showButton"
                diameter="20">
        </mat-spinner>
        <ng-template #showButton>
          <button
                  [disabled]="editFriendForm.pristine"
                  class="submit-button"
                  color="primary"
                  mat-raised-button
                  type="submit">
            Submit
          </button>
        </ng-template>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
