<mat-card class="right-card">
  <mat-card-header class="card-header">
    <mat-card-title>
      <h2>{{ tittle | async }}</h2>
    </mat-card-title>
    <button
            (click)="closeBtnClicked()"
            aria-label="Close"
            color="primary"
            mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>
  <form (ngSubmit)="onSubmit()" [formGroup]="editFriendForm">
    <mat-card-content>
      <div class="row row-large">
        <div class="col">
          <mat-form-field class="full-width">
            <input formControlName="name" matInput placeholder="Name"/>
            <mat-error
                    *ngIf="editFriendForm.controls['name'].hasError('required')">
              First name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row row-small">
        <div class="col">
          <mat-form-field class="full-width">
            <input formControlName="age" matInput placeholder="Age"/>
            <mat-error
                    *ngIf="editFriendForm.controls['age'].hasError('required')">
              Age is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row row-small row-last">
        <div class="col">
          <mat-form-field class="full-width">
            <input formControlName="weight" matInput placeholder="Weight"/>
            <mat-error
                    *ngIf="editFriendForm.controls['weight'].hasError('required')">
              Weight name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="button-spinner-container">
        <mat-spinner
                *ngIf="(isSpinnerVisible$ | async) === true; else showButton"
                diameter="20">
        </mat-spinner>
        <ng-template #showButton>
          <button
                  [disabled]="editFriendForm.pristine"
                  class="submit-button"
                  color="primary"
                  mat-raised-button
                  type="submit">
            Submit
          </button>
        </ng-template>
      </div>
    </mat-card-actions>
  </form>
</mat-card>
