mat-card {
  min-width: 200px;
}

.list-card {
  width: 200px;
  padding-right: 4px;
}

.detail-card {
  flex-grow: 1;
}

.cards-containers {
  height: calc(100% - 8px);
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}

.list-container {
  height: calc(100% - 50px);
  overflow: auto;
}

.inner-list-width-controller {
  margin-right: 20px;
}

mat-card-header button {
  margin-top: -5px;
  margin-right: 5px;
}


